body {
  background-color: aquamarine;
}

.item-photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width:200px;
  border: solid 5px black;
  margin: 20px;
}

h1 {
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 10px inset gray
}

ul {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}